.calculator-button {
	background-color: #807e97;
	width: auto;
	align-self: flex-start;
	border-radius: 10px;
	border: none;
	border: solid 1px white;
	height: 80%;
	width: 70%;
	color: white;
	align-self: center;
	font-size: 20px;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}
