#calculator {
	align-items: center;
	background-color: #5e5f6c;
	min-height: 100vh;
	justify-content: center;
	#calculator-wrapper {
		border: solid grey;
		box-shadow: -5px 5px 20px 1px rgba(0, 0, 0, 0.12);
		width: 30vw;
		border-radius: 20px;
		padding: 2rem;
		min-width: 30rem;
		#calcul-history-container {
			width: 100%;
			margin-bottom: 2vh;
			align-items: flex-start;
			span {
				color: white;
				font-weight: bold;
			}
		}
		#calculator-input {
			border-radius: 10px;
			height: 5vh;
			font-size: 20px;
			margin-bottom: 3vh;
			padding: 2vh 0vw 2vh 1vw;
			background-color: #bfe1c1;
			font-weight: bold;
		}
		#numbers-container {
			flex-wrap: wrap;
			flex: 1;
			padding: 3vh 1vw 0vh 0vw;
			.number-wrapper {
				flex: 30%;
			}
		}
		#operations-container {
			align-items: center;
			.operation-wrapper {
				width: 100%;
				height: 4rem;
				width: 4rem;
				margin-bottom: 0.5rem;
			}
		}
		#other-symbols-container {
			justify-content: space-between;
			margin-bottom: 1vh;
			.operation-wrapper {
				width: 100%;
				margin-left: 1rem;
				height: 4rem;
				width: 4rem;
			}
		}
	}
}
