.calculator-operation-button {
	background-color: #f17780;
	width: auto;
	align-self: flex-start;
	border: none;
	border: solid 1px white;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}
